<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Powered Email</title>
</head>
<body>
    <h1>Weather Powered Email</h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'submit' %}" method="post">
        {% csrf_token %}
        <input type="email" name="email_address" id="email_address" />
        <div>
            {% for city in cities %}
                <input type="radio" name="city" id="city{{ city.id }}" value="{{ city.id }}">
                    <label for="city{{ city.id }}">{{ city }}</label><br />
            {% endfor %}
        </div>
        <input type="submit" value="Subscribe" />
    </form>
</body>
</html>